[submodule "code/third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/WithACX/JUCE
	
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git

[submodule "third_party/Spatial_Audio_Framework"]
	path = third_party/Spatial_Audio_Framework
	url = https://github.com/leomccormack/Spatial_Audio_Framework
